<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>addNewUnit</title>
</head>
<body>
<h1>Add new unit form</h1>
<form action="#" data-th-action="@{/addNewUnit}" data-th-object="${newUnit}" method="post">
    <label for="type">Unit type</label>
    <input type="text" id="type" data-th-field="${newUnit.unitType}"/>

    <label for="date">Release date</label>
    <input type="text" id="date" data-th-field="${newUnit.releaseDate}"/>

    <label for="note">Note</label>
    <input type="text" id="note" data-th-field="${newUnit.note}"/>


    <input type="submit" value="Add"/>
</form>
</body>
</html>